html,body,h2,ul,li,p,a{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    color:white;
}
html{
    font-size: 62.5%;
}
.wrap{
   width:1920px;
    font-size: 62.5%;
}
/***************************************/

